<legend id="ddhh">DIABETES@HOME</legend>
<div class = "record"> 
    <h3>Hi {{username}}</h3>
    <hr>
    <div class = "patient"> 
        {{#each records}}
        <table style="margin-bottom: 2rem;">
            <div class = "patient-head"> 
                <tr>
                <th>Patient&nbsp;&nbsp;</th>
                <th>BloodGlucoseLevel&nbsp;&nbsp;</th>
                <th>Weight&nbsp;&nbsp;</th>
                <th>DosesInsulinTaken&nbsp;&nbsp;</th>
                <th>Exercise&nbsp;&nbsp;</th>
                <th>Message&nbsp;&nbsp;</th>
            </tr>
            </div>
            <tr>
                <td>{{this.patient}}</td>
                {{#if this.bloodGlucoseLevelTooHigh}}
                <td style="color: red;">{{this.bloodGlucoseLevel}}</td>
                {{else}}
                <td>{{this.bloodGlucoseLevel}}</td>
                {{/if}}
                <td>{{this.weight}}</td>
                {{#if this.dosesInsulinTakenTooHigh}}
                <td style="color: red;">{{this.dosesInsulinTaken}}</td>
                {{else}}
                <td>{{this.dosesInsulinTaken}}</td>
                {{/if}}
                <td>{{this.exercise}}</td>
                <td>{{this.message}}</td>
            </tr>
        </table>
        {{/each}}


    </div>
</div>
